$activeMessageColor: #e2e2e2;

.wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.chat-list {
  width: 340px;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-photo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  &.group {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 60%;
    }
  }
}

.chat {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  &:hover {
  }
  &.active {
    background: $activeMessageColor;
  }
  &.online:before {
    content: "";
    position: absolute;
    background-color: #23be7e;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: 50px;
    bottom: 19px;
  }
}

.chat-name {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 15px;
}

.chat-detail {
  overflow: hidden;
}

.chat-content {
  font-weight: 500;
  font-size: 13px;
  display: flex;
}

.chat-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-date {
  font-size: 14px;
  margin-left: 3px;
  &:before {
    content: "•";
    margin-right: 2px;
  }
}
