$backgroundColor: #636871;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;

  .login-form {
    margin-top: -20%;
    width: 25%;
    max-width: 320px;
    padding: 18px;
    background-color: white;

    .forgot-password-message {
      font-size: 14px;
      margin: 20px;
    }

    .not-registered-message {
      font-size: 14px;
      margin: 10px 0;
    }

    .full-width-field {
      width: 100%;
    }

    mat-button {
      margin: 5px;
    }
  }
}


